@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'jetbrains_monoregular';
  src: url('./assets/fonts/jetbrainsmono-variablefont_wght-webfont.woff2') format('woff2'),
    url('./assets/fonts/jetbrainsmono-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --slate: rgb(115 115 115);
  --red: #701f1c;
}

body {
  font-family: "jetbrains_monoregular";
  background-image: linear-gradient(to right top, #1d2226, #1f2327, #212529, #23262a, #25282b, #27292d, #2a2b2e, #2c2c30, #302e32, #342f34, #383135, #3c3335);
}

a {
  cursor: pointer;
  color: var(--red);
}

a:hover {
  color: #e1d0cf;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--slate);
}

h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.03em;
}

h1:hover {
  color: var(--red);
}

h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: -0.025em;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.75rem;
  letter-spacing: -0.025em;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.025em;
}

h5 {
  font-size: .9rem;
  line-height: 1.25rem;
  letter-spacing: -0.025em;
}

.footerItem {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(82, 82, 82);
}

.footerItem:hover {
  color: #fcfcfc;
}

blockquote {
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--slate);
}

p,  .primaryText {
  color: var(--slate);
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 9999px;
}

.smallerAvatar {
  height: 1.75rem;
  width: 1.75rem;
}